<button class="button">
    {{ block.settings.text }}
</button>

{% schema %}
{
    "name": "Button",
    "settings": [
        {
        "type" : "text",
        "id" : "text",
        "label": "Text"
        }
    ],
    "presets": [
        {
            "name": "Theme blocks"
        }
    ]
}

{% endschema %}